body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*padding-top: 80px;*/
  background: linear-gradient(to top, #ccffff 0%, #ffffff 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

html{
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  font-family: 'Nunito', sans-serif;
}

/*@font-face{
  font-family: 'Lato', sans-serif;
  src: local('Lato'), url(../src/fonts/Lato-Regular.ttf) format('truetype')
}*/
